<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674114090172-m6ujtrf919tceph1a9nq0vbc6mqrdi33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674114090172-m6ujtrf919tceph1a9nq0vbc6mqrdi33</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674114090172-bdcnd2rnj83q75vkc47uf1k324rqb914.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf92mJeXC7tHbK3Vdu-N-Fm5LHKU97WaA</string>
	<key>GCM_SENDER_ID</key>
	<string>674114090172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGrow</string>
	<key>PROJECT_ID</key>
	<string>chatglow-2cbf0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatglow-2cbf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674114090172:ios:cd460f64cb4a4f92090cb9</string>
</dict>
</plist>